In [14]:
import matplotlib.pyplot as plt
import scipy
import pandas as pd
import sklearn
import numpy as np

import preprocessing_utils as prep

In [15]:
df = pd.read_csv('idea_data_2024.csv')

df["timestamp"] = pd.to_datetime(df["timestamp"])

# df.set_index("Timestamp", inplace=True)
# df = df.sort_index()

df.head()

                  timestamp   open   high    low  close   volume
0 2024-01-01 13:31:00+05:30  17.50  17.55  17.40  17.45  3025174
1 2024-01-01 13:32:00+05:30  17.45  17.45  17.35  17.40  3438033
2 2024-01-01 13:33:00+05:30  17.40  17.45  17.35  17.35  3760706
3 2024-01-01 13:34:00+05:30  17.40  17.40  17.35  17.40   557614
4 2024-01-01 13:35:00+05:30  17.40  17.40  17.35  17.40   481182

In [16]:
df = prep.clean_dataset(df)
prep.analyze_dataset(df)
print(df.columns)

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

In [17]:
df, idxx, idxy = prep.extract_features(df)
df.head()

,timestamp,open,high,low,close,volume,normalized_value,loc_min,loc_max
0,2024-01-01 13:31:00+05:30,17.50,17.55,17.40,17.45,3025174.0,0.333333,NaN,17.45
1,2024-01-01 13:32:00+05:30,17.45,17.45,17.35,17.40,3438033.0,0.500000,NaN,NaN
2,2024-01-01 13:33:00+05:30,17.40,17.45,17.35,17.35,3760706.0,0.000000,17.35,NaN
3,2024-01-01 13:34:00+05:30,17.40,17.40,17.35,17.40,557614.0,1.000000,NaN,NaN
4,2024-01-01 13:35:00+05:30,17.40,17.40,17.35,17.40,481182.0,1.000000,NaN,NaN